$primary-color: #444;
$secondary-color: #5ab0de;
$show-home-image: true;
$home-image: url(/dist/img/background.jpg);
$portrait-image: url(/dist/img/portrait.jpg);
$small-portrait-image: url(/dist/img/portrait_small.jpg);
$background-opacity: 0.5;

@mixin easeOut{
    transition: all 0.5s ease-out;
}

@mixin background{
    @if $show-home-image {
        &#bg-img {
            background: $home-image; 
            background-attachment: fixed;
            background-size: cover;   

            &::after {
                content: '' ;
                position: absolute;
                top: 0;
                right:0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background : rgba($primary-color, $background-opacity);
                 
            } 

        }
        
    }
}

// Set text color

@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Media Query Mixins

@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content; 
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content; 
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769) and (max-width: 1170px) {
        @content; 
    }
}
@mixin mediaXl {
    @media screen and (min-width: 1171) {
        @content; 
    }
}